html, body {width:100%;height:100%;font:13px tahoma,Arial,"ו",Verdana,sans-serif;background-color:#ffffff;}
a{color:#656d77;text-decoration:none;}
a:hover {color: #ff6600;text-decoration: none;}
img {border: none;}
table {	border-collapse: collapse;	border-spacing: 0;}
ul {list-style-type: none;}
input, select, label {vertical-align: middle}
pre {white-space:pre-wrap;	white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-break:break-all;word-wrap: break-word;}
.white {color: white;}
.black {color: black;}
.gray {color: gray;}
.blue {color: blue;}
.green {color: green;}
.red {color: red;}
.blank {width: 100%;height: 10px;clear: both;overflow: hidden;}
.clear {width: 100%;height: 0px;clear: both;overflow: hidden;}
.hidden {display: none;}
.lineThrough {text-decoration: line-through;}
.pointer {cursor: pointer;}
.index .body {width: 1100px;margin: 0px auto;border:0px solid;}
.header .headerTop {height: 28px;line-height: 25px;	clear: both;color: #1f1f1f;}
.header .headerTop a {color: #6b6b6b;}
.header .headerTop a:hover {color: #fb6400;}
.header .headerTop .hlinfo {float: left;}
.header .headerTop .htContent {width: 1000px;margin: 0px auto;}
.header #hlmu {color: #ff662b;}
.gwc{position:absolute;margin-left:875px;width:86px;height:23px;margin-top:20px}
.footer {clear: both;padding-top: 4px;}
.footer .footerInfo {width: 990px;line-height:20px;margin:5px auto;clear: both;text-align: center;border-top: 1px solid #e6e6e6;}
.footer .footerInfo a {color: #6b6b6b;}
.footer .footerInfo a:hover {color: #fb6400;}
