.bigbox{width:1000px; margin:30px auto; border:0px solid; padding:20px;}
.mainbox { width:990px; height:150px; border-bottom:1px solid; border-bottom-color:#CCCCCC;padding-top:10px;}
.imgbox {float:left; height:140px;width:130px;border:0px solid; margin-left:10px;margin-right:30px;}
.title {float:left;width:600px;font-size:19px; margin-left:20px; margin-top:25px; border-bottom:1px solid  .CCCCCC;}
.pricenum{float:left;width:90px; margin-top:10px;}
.input{float:left;width:60px; margin-top:10px;}
.instruction{width:660px; height:70px; float:left; margin-left:10px; font-size:13px;text-indent:2em; line-height:1.3; padding:10px;}
.shoping{float:left; width:86px; vertical-align:middle; margin-top:20px; margin-left:13px;}
.headbox{height:40px; font-size:14px; border-bottom:1px solid;}
.headleft{float:left;width:800px;}
.headmiddle{float:left;width:90px;}
.headright{float:left; width:60px;}
.bofosm{margin:10px auto;width:200px;text-align:center;}
.bofofy{margin:0px auto;width:170px;text-align:center;}

.mycart{width:810px;margin:10px auto;font-size:20px;font-family:"풕턼환쥌";text-align:center;}
.outbox{width:810px; margin:20px auto; border:1px solid #E8E8E8; padding:30px;font-family:"풕턼환쥌";}
.inbox{width:800px; height:30px;border-bottom:1px solid  #EEEEEE; padding-top:7px; font-size:14px;}
.hmgwn{width:800px;margin:10px auto;font-size:14px;font-family:"풕턼환쥌";color:red;text-align:center;}
.fhsy{width:800px;margin-top:50px;font-size:14px;font-family:"풕턼환쥌";text-align:right;}
.name{width:490px;float:left; text-indent:3em;}
.names{width:495px;float:left; text-indent:1em;}
.price{width:85px;float:left;text-align:center;}
.pricemenu{width:85px;float:left; padding-left:14px; text-align:center;}
.num{width:110px;float:left;text-align:center;}
.numbers{text-align:center;}
.head{ margin:3px auto; height:20px; letter-spacing:16px; font-size:16px;}
.buttonborder{ float:left; width:50px; font-family:"풻"; font-size:13px;}
.gwczj{font-size:14px;font-family:"풕턼환쥌";color:red;}
.jrjszx{width:800px;margin-top:10px;}
.qkgwc{width:800px;text-align:right;margin-top:10px;}

.jszxbt{text-align:center;font-size:18px;font-family:"풕턼환쥌";margin-top:20px;}
.orderform{border:0px solid;width:800px;margin:10px auto;font-size:13px;font-family:"풕턼환쥌";padding-left:50px}
.orderformdt{border:0px solid;width:800px;margin:10px auto;font-size:14px;font-family:"풕턼환쥌";padding-left:50px}
.oddxx{text-align:center;font-size:16px;font-family:"풕턼환쥌";}
.tjdd{margin-right:80px;float:right;}
.ckwddd{margin-right:150px;float:right;}

.vo{ margin:3px auto; height:20px; font-size:13px;}
.voitem{margin:auto 57px;}
.voitemv{margin:auto 50px;}
.thefhsy{width:930px;margin-top:15px;font-size:14px;font-family:"풕턼환쥌";text-align:right;}
.user{ display:inline;width:auto;}
span{display:-moz-inline-box; display:inline-block;}
.orderformdt span{ width:75px; line-height:1.4}








